.site-layout-content {
    min-height: 80vh;
    background: #F3F7FA;
    padding: 10px 50px;
}

.call-list-table {
    width: 100%;
    background: white;
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222;
    border-radius: 3px;
}

.filter-item {
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 3px 6px -6px #222;
}